# -*- coding: utf-8 -*-
"""

@author: AMAN JHA
"""

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="D:\flask_workshop\templates\crop_reco.css"> -->
</head>
<body>
    <form action="/login" method= post>
        <div>
            NITROGEN_RATIO: <input type="number" name="nitro">
        </div>

        <div>
            PHOSPHORUS_RATIO: <input type="number" name="phos">
        </div>

        <div>
            POTASSIUM_RATIO: <input type="number" name="potash">
        </div>

        <div>
            TEMPARATURE_CELCIUS: <input type="number" step="any" name="temp">
        </div>

        <div>
            HUMIDITY: <input type="number" step="any" name="hum">
        </div>

        <div>
            PH: <input type="number" step="any" name="ph">
        </div>

        <div>
            RAINFALL_MM: <input type="number" step="any" name="rain">
        </div>

        <p> <input type =  "submit" value = "Submit"></p>
    </form>    
<b>{{y}}</b>
</body>
</html>