<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/modelbuilding.css">
</head>
<body>

    <header class="top">
        <div class="logoadjuster">
        <a href="/templates/index.html"> <img class="logo" src="/static/logo.png" alt="logo"></a>
        <span>FARM-EASY</span>
    </div>
        
        <nav>
            <ul>
                <li> <a href="/templates/index.html">Home</a> </li>
                <li> <a href="/templates/dataSet.html">Data Set</a> </li>
                <li> <a href="/templates/model.html">Model Building</a> </li>
                
                
            </ul>
            </nav>
           
        </header>

    <div id="outerContainer">

        <div id="data1PIC">
        
            <!-- <img src="/CommercialFarming-1.jpg" alt="image of growth"> -->

            <div class="adjuster">
    
          
        </div>

        </div>

        <!-- modal part -->

        <div class="modalpart">
                <h1>Modal Bulding </h1>
               <button> <a href="Crop Recommendation system.ipynb">Click Me To Download Code</a></button>
        </div>
       
</body>
</html>